<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-flashlight"
        version="3.2.0">

  <name>Flashlight</name>

  <description>
    This plugin allows you switch the Flashlight / Torch of your device on or off.
  </description>

  <author>Eddy Verbruggen - @EddyVerbruggen</author>

  <license>MIT</license>

  <keywords>Torch, Flashlight, Flash, Light</keywords>

  <repo>https://github.com/EddyVerbruggen/Flashlight-PhoneGap-Plugin.git</repo>

  <issue>https://github.com/EddyVerbruggen/Flashlight-PhoneGap-Plugin/issues</issue>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/Flashlight.js" name="Flashlight">
    <clobbers target="window.plugins.flashlight" />
  </js-module>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="Flashlight">
        <param name="ios-package" value="Flashlight"/>
      </feature>
    </config-file>

    <header-file src="src/ios/Flashlight.h"/>
    <source-file src="src/ios/Flashlight.m"/>
  </platform>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Flashlight">
        <param name="android-package" value="nl.xservices.plugins.Flashlight" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CAMERA"/>
    </config-file>

    <source-file src="src/android/nl/xservices/plugins/Flashlight.java" target-dir="src/nl/xservices/plugins"/>

    <dependency id="cordova-plugin-compat" version="^1.0.0" />
  </platform>

  <!-- wp8 -->
  <platform name="wp8">
    <config-file target="config.xml" parent="/*">
      <feature name="Flashlight">
        <param name="wp-package" value="Flashlight"/>
      </feature>
    </config-file>

    <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
      <Capability Name="ID_CAP_ISV_CAMERA"/>
      <Capability Name="ID_CAP_MICROPHONE"/>
    </config-file>

    <source-file src="src/wp8/Flashlight.cs" />
  </platform>

</plugin>
